@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  transform: translateZ(0);
  backface-visibility: hidden;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

/* scrollbar elegante */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 999px;
}